server:
  port: 8080

spring:
  application:
    name: cloud-consumer-feign-order80

eureka:
  client:
    # false表示不想注册中心注册自己
    register-with-eureka: true
    # false表示自己端就是注册中心，我的职责就是维护服务实例，并不需要检查服务
    # fetch-registry: true
    service-url:
      # 设置与 Eureka Server交互的地址查询服务和注册服务都需要依赖这个地址
      # 哪个主机（localhost）的哪个（7001）端口
      defaultZone: http://localhost:7001/eureka/

      ############################################################
      # 集群版本
      # defaultZone: http://eureka7001.com:7001/eureka,http://eureka7002.com:7002/eureka
  # 设置主机名称
  instance:
    instance-id: openfeign80
    # 页面管理有 ip 地址提示信息
    prefer-ip-address: true
feign:
  client:
    config:
      default:
        # 建立链接的最长时间之后就是算超时
        connectTimeout: 5000
        # 建立连接之后从服务器中读取资源的最长时间
        readTimeout: 5000